* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(assets/bgimage.jpg);
    background-position-y: 900px;
    background-color: rgba(81, 144, 145, 0.852);
    background-blend-mode: screen;
    /* background-attachment: fixed; */
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 30px;
    position: fixed;
    /* background-color: rgba(24, 169, 226, 0.151); */
    z-index: 1;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}

.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: white;
}

#searchInput {
    padding: 8px 12px;
    border-radius: 30px 0px 0px 30px;
    border: 0px solid #ced4da;
    font-size: 16px;
}
#searchInput:focus{
    border: 0px solid white;
}
/* Voice button styling */
#voiceSearchButton {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-out;
}

/* Adjust the microphone icon */
#voiceSearchButton img {
    width: 15px;
    height: 15px;
}

/* Search button styling */
#searchButton {
    padding: 8px 16px;
    background-color: #08b793;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    transition: all 500ms ease-out;
}
#searchInput:focus{
    outline: none;
}
/* Add hover effects */
#voiceSearchButton:hover {
    background-color: rgb(69, 66, 66);
}

#voiceSearchButton:hover img {
    filter: invert(1);
}

#searchButton:hover {
    background-color: #0b6b20;
}

.logo img {
    width: 150px;
    height: 90px;
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

.navContent {
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContent ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4a3de5;
    font-size: 25px;
    font-family: system-ui;
    cursor: pointer;
    text-shadow: -1px -0.5px 0.2px #928cd6;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    top: 150px;
    width: 100%;
}

.showcityname {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    width: 700px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-shadow: -1px -0.5px 1px #332f62;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    /* border: 0.1px solid black; */
    height: 250px;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.550);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    transition: 700ms all ease-out;
}

.card:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.centerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 600px;
}

.cardHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: 15%;
    width: 100%;
    padding-left: 25px;
    /* color: rgb(69, 66, 66); */
    color: rgb(82, 25, 168);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cardBody {
    display: flex;
    height: 85%;
    width: 100%;
    color: #3d0579;
}

.cardBodyLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.icon img {
    width: 70px;
    height: 70px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.900));
}

.currentTemp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 65%;
    box-sizing: border-box;
}

.currentTemp .degree {
    font-size: 40px;
}

.currentWeather {
    display: flex;
    justify-content: flex-start;
    padding-left: 45px;
    align-items: center;
    font-size: 25px;
    width: 100%;
    height: 20%;
}

.cardBodyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    height: 100%;
    width: 50%;
}

.line {
    width: 99%;
    height: 1px;
    background-color: rgba(17, 10, 95, 0.442);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.realFeel,
.wind,
.humidity,
.airQuality,
.rain,
.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 25%;
}

.cardBodyRight .value {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left .cardHead,
.right .cardHead {
    width: 100%;
    padding-left: 15px;
    font-size: 15px;
}

.leftcardBody,
.rightcardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 100%;
    color: #3d0579;
}

.lefttext,
.righttext {
    font-size: 13px;
}

.leftvalue,
.rightvalue {
    font-size: 12px;
}

.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.timespan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    margin-top: -70px;
    color: rgba(255, 255, 255, 0.726);
}

.hourly,
.daily {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 0px #514e4e;
    transition: all 400ms ease-out;
}

.hourly:hover,
.daily:hover {
    text-shadow: 1px 1px 5px black;
}

.hour {
    width: 4.15%;
    font-size: 10px;
}

.hddata {
    display: flex;
    gap: 5px;
    width: 100%;
}

.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.hourlyicon img {
    width: 40px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.905));
}

.hourlyicon,
.hourlytemp,
.hourlyrainchance,
.hourlycondition,
.hourlytime {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    color: #340863;
    text-shadow: 0px -1px 0px #00000059;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 15%;
}

.tomorrow,
.datomorrow {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    font-size: 17px;
    color: #0e39c8;
    text-shadow: -1px 1px 0px rgb(0 0 0);
}

.dailydetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 85%;
}

.dailyDetailsName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
    color: #0e39c8;
    text-shadow: -1px 1px 0px rgb(0 0 0);
}

.tomorrowDetails,
.datomorrowDetails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
    color: #340863;
    text-shadow: -1px 1px 0px rgb(208 192 226);
}

@media (max-width:680px) {
    body {
        background-image: url(assets/bgimage.jpg);
        background-position-x: -1250px;
        background-position-y: 1350px;
    }

    nav {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 25px 10px;
        position: fixed;
        z-index: 1;
    }

    .searchContainer {
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        width: 25%;
        height: 55%;
    }

    #searchInput {
        padding: 4px 6px;
        border-radius: 15px 0px 0px 15px;
        border: 0px solid #ced4da;
        font-size: 5px;
        width: 75%;
        height: 15%;
    }

    /* Voice button styling */
    #voiceSearchButton {
        background-color: #ffffff;
        border: none;
        color: white;
        padding: 2px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-out;
        width: 10%;
    }

    /* Adjust the microphone icon */
    #voiceSearchButton img {
        width: 8px;
        height: 8px;
    }

    /* Search button styling */
    #searchButton {
        padding: 0px 0px;
        background-color: #08b793;
        border: none;
        color: white;
        border-radius: 15px;
        font-size: 5px;
        height: 100%;
        transition: all 500ms ease-out;
        width: 30%;
    }

    /* Add hover effects */
    #voiceSearchButton:hover {
        background-color: rgb(69, 66, 66);
    }

    #voiceSearchButton:hover img {
        filter: invert(1);
    }

    #searchButton:hover {
        background-color: #0b6b20;
    }

    .logo {
        width: 20%;
    }

    .logo img {
        width: 75px;
        height: 45px;
        filter: drop-shadow(0px 0px 0px black);
    }

    .navContent {
        height: 100%;
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .showcityname {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        text-shadow: -1px -0.5px 1px #332f62;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        position: relative;
        top: 150px;
        width: 100%;
    }

    .part1 {
        display: flex;
        flex-direction: column;
        gap: 55px;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .card {
        height: 100px;
        width: 150px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.550);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
        transition: 700ms all ease-out;
    }

    .card:hover {
        transform: scale(1.01);
    }

    .centerCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 330px;
    }

    .cardHead {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        height: 20%;
        width: 100%;
        padding-left: 15px;
        color: rgb(13, 13, 141);
        font-size: 15px;
        font-weight: lighter;
    }

    .cardBody {
        display: flex;
        height: 80%;
        width: 100%;
        color: #3d0579;
    }

    .cardBodyLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
    }

    .icon img {
        width: 70px;
        height: 70px;
    }

    .currentTemp {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        height: 65%;
        box-sizing: border-box;
    }

    .currentTemp .degree {
        font-size: 25px;
    }

    .currentWeather {
        display: flex;
        justify-content: flex-start;
        padding-left: 45px;
        align-items: center;
        font-size: 15px;
        width: 100%;
        height: 20%;
    }

    .cardBodyRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40%;
    }

    .line {
        width: 99%;
        height: 1px;
        background-color: rgba(17, 10, 95, 0.442);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }

    .realFeel,
    .wind,
    .humidity,
    .airQuality,
    .rain,
    .time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        height: 25%;
        font-size: 8px;
    }

    .cardBodyRight .value {
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .left .cardHead,
    .right .cardHead {
        width: 100%;
        padding-left: 10px;
        font-size: 11px;
    }

    .leftcardBody,
    .rightcardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85%;
        width: 100%;
        color: #3d0579;
    }

    .lefttext,
    .righttext {
        font-size: 7px;
    }

    .leftvalue,
    .rightvalue {
        font-size: 7px;
    }

    .part2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        gap: 10px;
        color: rgba(255, 255, 255, 0.650);
    }

    .timespan {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 12px;
        margin-top: -70px;
    }

    .hourly,
    .daily {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 20px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        text-shadow: 0px 0px 3px #514e4e;
        border-radius: 1px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }

    .hour {
        width: 4.15%;
        font-size: 7px;
    }

    .hddata {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        height: 200px;
    }

    .hour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 60px;
        width: 25px;
        gap: 2px;
        font-size: 5px;
    }

    .hourlyicon img {
        width: 25px;
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.905));
    }

    .hourlyicon,
    .hourlytemp,
    .hourlyrainchance,
    .hourlycondition,
    .hourlytime {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        text-shadow: 0px 0px 0px black;
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        width: 10%;
    }

    .tomorrow,
    .datomorrow {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50%;
        width: 100%;
        font-size: 12px;
        text-shadow: 0px 0px 0px rgb(0 0 0);
    }

    .dailydetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 85%;
    }

    .dailyDetailsName {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 20%;
        font-size: 10px;
        text-shadow: 0px 0px 0px rgb(0 0 0);
    }

    .dailyMaxTemp,
    .dailyMinTemp,
    .dailyAvgTemp,
    .dailyAvgHumidity,
    .dailyAvgRainChance {
        width: 30%;
    }

    .tomorrowDetails,
    .datomorrowDetails {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        font-size: 10px;
        height: 40%;
        text-shadow: 0px 0px 0px rgb(230, 219, 219);
    }
}